@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;600;800&display=swap");

:root {
  --maincolor: #e7a42b;
  --lightaccent: #bcaeb7;
  --lightshade: #f1edeb;
  --darkaccent: #977da3;
  --darkshade: #597a9e;
  --bordercolor: #fff;
  --sidenavbordercolor: #cf9427;
  --divider-color: #597a9e;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--lightshade);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 16pt;
  height: 110px;
  min-height: 110px;
  background-color: var(--darkshade);
  padding: 1.5% 12.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  color: var(--maincolor);
  font-family: "Lobster", cursive;
}

header h1 {
  margin: auto;
  /*Text shadows woo*/
  text-shadow: #bb8829 4px 4px, #9b732a 8px 8px, #86662a 12px 12px;
}

main h1 {
  margin: auto;
  font-size: 2rem;
  text-align: center;
}

.subtitle{
  text-align: center;
}

header p > a,
main p > a {
  text-decoration: none;
  color: var(--maincolor);
}

header p > a {
  font-size: 1.2rem;
  font-family: "Open Sans", sans;
}
header p > a:hover{
  color: var(--sidenavbordercolor);
  border-bottom: #86662a 1px;
}

.headerIndexLink {
  color: var(--maincolor);
  text-decoration: none;
}

.container {
  margin: 0 12.5%;
  background-color: white;
  flex: 1;
}

.padded-container {
  padding: 1em 1.5rem;
}

.banner-image {
  width: 100%;
  height: 450px;
  object-fit:cover;
  display: block;
}

.index-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
}

.index-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;

  /* Nothing to do with the display:flex we're doing inside main, instead
    this is about forcing the header to stay at the bottom  */
  flex: 1;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5px;
  margin: 0 10px;
  border-bottom: 2px solid var(--divider-color);
}

.index-article {
  flex-grow: 1;
  flex-basis: 25vw;
}

#side-column {
  height: fit-content;
  text-align: center;
  max-width: 15vw;
}
#side-column h2 {
  color: var(--darkaccent);
}

#news article {
  border-top: 2px dashed var(--divider-color);
}
#news h3 {
  font-size: small;
  font-weight: 600;
  color: var(--darkshade);
}
#news p {
  font-size: small;
  text-align: left;
}

.info-block a,
.link-text {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--darkaccent);
}

.info-block a:hover {
  color: var(--maincolor);
}

.index-article h2 + p::first-letter {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--darkaccent);
}

h2 {
  font-family: "Lobster", cursive;
}

.info-block h2 {
  color: var(--darkaccent);
  border-top: 2px solid var(--divider-color);
  padding-top: 10px;
}

footer {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #597a9e;
  width: 100%;
  padding: 20px;
  min-height: 100px;
}

footer,
footer a {
  color: var(--lightshade);
}

#footer-logo {
  font-family: "Lobster", cursive;
  color: var(--maincolor);
  font-size: 2em;
  flex-basis: 25%;
}

address {
  text-align: center;
  flex-basis: 25%;
}
