@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;600;800&display=swap');

:root{
    --maincolor:#E7A42B;
    --lightaccent:#BCAEB7;
    --lightshade:#F1EDEB;
    --darkaccent:#977DA3;
    --darkshade:#597A9E;
    --bordercolor:#fff;
    --sidenavbordercolor: #CF9427;
    --divider-color: #597A9E;
}

*{
    box-sizing: border-box;
}

body{
    
    font-family: 'Open Sans', sans-serif;
    background-color: var(--lightshade);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    font-family: 'Lobster', cursive;
    font-size: 18pt;
    height: 110px;
    min-height: 110px;
    background-color: var(--darkshade);
    padding: 20px 20px 20px 5%;
}

header h1{
    margin: auto;
}

.headerIndexLink{

    color: var(--maincolor);
    text-decoration: none;
}

.container{
    margin: 0px 20% 0px 5%;
    padding: 1em 1.5rem;
    background-color: white;
    flex:1;
}

.index-container
{
    display:grid;
    grid-template-columns: auto auto;
    justify-content: left;

}

.index-main{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;

    /* Nothing to do with the display:flex we're doing inside main, instead
    this is about forcing the header to stay at the bottom  */
    flex:1;
}

.info-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5px;
    margin: 0 10px;
    border-bottom: 2px solid var(--divider-color);
}

.index-article{
    flex-grow: 1;
    flex-basis: 25vw;
}

#events{
    height: fit-content;
    text-align: center;

    color: var(--darkaccent);
}

.info-block a, .link-text{
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--darkaccent);    
}

.info-block  a:hover{
    
    color: var(--maincolor);    
}

.index-article h2 + p::first-letter
{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--darkaccent);    
}

h2{
    font-family:'Lobster', cursive;
}

.info-block h2{
    color: var(--darkaccent);
    border-top: 2px solid var(--divider-color);
    padding-top: 10px;
}

footer{
    background-color: #597A9E;
    text-align: center;
    padding: 20px;
    min-height: 100px;
    color:var(--lightshade);
    /* text-align != middle since we have our sidebar atm */
    transform: translate(-7.5%, 0%);
}


/*
 SIDEBAR STUFF BELOW
*/

.sidenav h2{
    background-color: var(--maincolor);
    color: var(--darkshade);
    width: 100%;
    padding: 0.4em 0;
    margin: 0 0 0 0;
}


.sidenav{
    height: 100%;
    width: 15%;
    display:flex;
    align-items:center;
    justify-content: flex-start;
    position: fixed;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: var(--darkshade);
    color: var(--lightshade)
}

.sidenav img{
    width: 100px;
    height: 100px;
    margin: 10px 0 0 0;
    filter: invert(83%) sepia(17%) saturate(5581%) hue-rotate(342deg) brightness(98%) contrast(85%);
}

.sidenavlistwrapper{
    width: 100%;
    border-top: 10px solid var(--sidenavbordercolor);
    border-bottom: 10px solid var(--sidenavbordercolor);
    border-left:  1px solid var(--sidenavbordercolor);
}

.sidenavlist{
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.sidenavlist a, .sidebartitle{
    display:block;
    width: auto;
    padding: 0.7em 0.7em;
    text-decoration: none;
}

.sidenavlist a{
    background-color: var(--lightshade);
    color: var(--maincolor);
    border-top: 1px solid #D9D6D4;
    border-bottom: 1px solid #FFFCFA;
}

.sidenavlist a:hover{
    background-color: var(--darkaccent);
    color: var(--lightshade);
    border-top: 1px solid #806A8A;
    border-bottom: 1px solid #DEB9F0;
}


.inlineitem a{
    border-left: 1px solid #D9D6D4;
    border-right: 1px solid #FFFCFA;
}

.inlineitem a:hover{
    border-left: 1px solid #806A8A;
    border-right: 1px solid #DEB9F0;
}

.sidenavlist .sidebartitle{
    color: var(--darkshade);
    font-weight: 800;
}

.sidenavlist a::first-letter
{
    font-size: 1.1em;
}


.sidebartitle{
    background-color: var(--maincolor);
    font-size: 0.9em;
    color: var(--lightshade);
    border-top: 2px solid var(--sidenavbordercolor);
}

.inlineitem
{
    width: auto;
    float:left;
    overflow:hidden;
}

.afterinline{
    clear:left;
}

.calendar
{
    margin-top: 50px;
}
