@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;600;800&display=swap");
@import url("styles-media-rules.css");
@import "styles-sidebar.css";

:root {
  --maincolor: #e7a42b;
  --lightaccent: #bcaeb7;
  --lightshade: #f1edeb;
  --darkaccent: #977da3;
  --darkshade: #597a9e;
  --bordercolor: #fff;
  --sidenavbordercolor: #cf9427;
  --divider-color: #597a9e;
  --header-size: 110px;
  --header-nav-anim-bottom: -10px;
  --resize-transition-time: 0.8s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--lightshade);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: var(--header-size);
  width: 100%;
  background-color: var(--darkshade);
  padding: 1.5% 12.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  transition: var(--resize-transition-time);
  transition-property: height, padding;
}

main {
  margin-top: var(--header-size);
}

@keyframes color-blink {
  0% {
    color: var(--maincolor);
  }
  50% {
    color: greenyellow;
  }
  100% {
    color: var(--maincolor);
  }
}

@keyframes color-change {
  0% {
    color: var(--maincolor);
  }
  100% {
    color: greenyellow;
  }
}

h1 {
  color: var(--maincolor);
  font-family: "Lobster", cursive;
  font-size: 2.3rem;
  transform: translateY(-10px);
  font-style: italic;
  /*Text shadows woo*/
  text-shadow: #bb8829 4px 4px, #9b732a 8px 8px, #86662a 12px 12px;
}

main h1 {
  font-size: 2rem;
  text-align: center;
}

.subtitle {
  text-align: center;
}

nav a,
main p > a {
  text-decoration: none;
  color: var(--maincolor);
}

nav {
  text-align: right;
  max-height: 140px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1.2rem;
  flex-wrap: nowrap;
  flex-direction: row;
}

nav li{
  max-width: max-content;
}

nav a {
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  font-family: "Open Sans", sans;
}

nav a:hover {
  transition: 0.3s;
  color: var(--sidenavbordercolor);
  /* animation: color-change 2s infinite; */
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: var(--header-nav-anim-bottom);
  left: 0;
  background-color: var(--sidenavbordercolor);
  transform-origin: bottom right;
  transition: transform 0.33s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.headerIndexLink {
  color: var(--maincolor);
  text-decoration: none;
}

.container {
  margin-left: 12.5%;
  margin-right: 12.5%;
  background-color: white;
  flex: 1;
  transition: var(--resize-transition-time);
  transition-property: margin;
}

.padded-container {
  padding: 1em 1.5rem;
}

.banner-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  display: block;
}

.index-container {
  margin-top: var(--header-size);
  display: grid;
  gap: 15px 5px;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.index-main {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 5px;
  justify-content: center;
  margin: 0;
  

  /* Nothing to do with the display:flex we're doing inside main, instead
    this is about forcing the header to stay at the bottom  */
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 10px;
  border-top: 2px solid var(--divider-color);
  border-bottom: 2px solid var(--divider-color);
}

.index-article {
  flex-grow: 1;
  flex-basis: 25vw;
}

#side-column {
  height: fit-content;
  text-align: center;
  max-width: 15vw;
}

#side-column .info-block:not(:first-of-type){
  border-top: 0;
}

#side-column h2 {
  color: var(--darkaccent);
}

#news article {
  border-top: 2px dashed var(--divider-color);
}

#news h3 {
  font-size: small;
  font-weight: 600;
  color: var(--darkshade);
}
#news p {
  font-size: small;
  text-align: left;
}

.info-block a,
.link-text {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--darkaccent);
}

.info-block a:hover {
  color: var(--maincolor);
}

.index-article h2 + p::first-letter {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--darkaccent);
}

h2 {
  font-family: "Lobster", cursive;
}

.info-block h2 {
  color: var(--darkaccent);
}

footer {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #597a9e;
  width: 100%;
  padding: 20px;
  min-height: 100px;
}

footer,
footer a {
  color: var(--lightshade);
}

#footer-logo {
  font-family: "Lobster", cursive;
  color: var(--maincolor);
  font-size: 2em;
  flex-basis: 25%;
}

address {
  text-align: center;
  flex-basis: 25%;
}
